<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table border="1">
    <tr>
        <th>Report Run Date</th>
        <th>Number of Phones</th>
        <th>Total Minutes</th>
        <th>Total Data</th>
        <th>Average Minutes</th>
        <th>Average Data</th>

    </tr>
    <tr>
        <td th:text=  ${rundate}></td>
        <td th:text=  ${nop}></td>
        <td th:text=   ${tm}></td>
        <td th:text=   ${td}></td>
        <td th:text=   ${am}></td>
        <td th:text=   ${ad}></td>

    </tr>

</table>

<table border="1">
    <tr>
        <th>Employee Id</th>
        <th>Employee Name</th>
        <th>Model</th>
        <th>Purchase Date</th>
        <th>Minutes Usage</th>
        <th>Data Usage</th>

    </tr>
    <tr>


    </tr>

</table>
</body>
</html>
